$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$bg-primary: #ffffff;
$bg-secondary: #4b48488c;
$border-color: #80808038;
$footer: #252525c4;
$new-bg: rgb(153, 226, 208);
$new-font: rgb(19, 146, 115);
$gradient: linear-gradient(to top right, $secondary, $primary);
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    .loading {
        background: white;
        animation: animLoader 2s ease-in-out forwards;
        position: absolute;
        width: 100%;
        height: 100rem;
        z-index: 50;
        text-align: center;
        font-size: 10rem;
    }
}

a,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: black;
}

h1,
h4 {
    font-family: 'Shrikhand', cursive;
    text-decoration: none;
}

h2,
h3,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.header-title {
    font-size: 3rem;
    text-align: center;
}

.header-location {
    color: #313131;
    font-weight: bold;
    background-color: rgb(234, 234, 234);
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    i {
        width: 0.8rem;
        height: 0.8rem;
        color: #313131;
    }
    p {
        font-size: 0.8rem;
        padding: 0 1rem;
    }
}

.presentation {
    text-align: center;
    background-color: $border-color;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
    h2 {
        margin: 0;
        padding: 1rem;
    }
    p {
        padding: 1rem;
        color: $bg-secondary;
    }
    .presentation-button {
        font-size: 0.8rem;
        margin: 0;
        width: 60%;
        background: linear-gradient(to bottom right, $secondary, $primary);
        border: none;
        border-radius: 40px;
        color: $bg-primary;
        box-shadow: 1px 4px 15px rgb(139, 139, 139);
    }
}

.fonctionnement {
    padding: 1rem 0;
    height: 23rem;
    &-title {
        margin-left: 1rem;
    }
    &-list {
        box-sizing: border-box;
        width: 100%;
        list-style-type: none;
        .list-item {
            padding: 1rem 0;
            box-shadow: 1px 2px 10px rgb(228, 228, 228);
            position: relative;
            width: 95%;
            margin: 1.5rem 0;
            height: 3rem;
            border: none;
            border-radius: 10px;
            background-color: rgb(246, 246, 246);
            p i {
                height: 2rem;
                padding: 0 2rem;
                color: $bg-secondary;
            }
            &-number {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                height: 1.5rem;
                width: 1.5rem;
                background-color: $primary;
                border-radius: 50%;
                line-height: 1.5rem;
                text-align: center;
                color: $bg-primary;
                font-size: 0.8rem;
            }
            &:hover,
            &:hover i {
                color: #9356DC;
                cursor: pointer;
                background-color: rgb(245, 237, 255);
            }
        }
    }
}

.restaurants {
    background-color: #f2f2f2;
    padding: 1rem 1rem;
    position: relative;
    .new {
        position: absolute;
        right: 1rem;
        color: $new-font;
        background-color: $new-bg;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 3px;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .restaurant {
        width: 0;
        opacity: 0;
        animation: animRestau 1s linear forwards 1.5s;
        overflow: hidden;
        margin: 1rem 0;
        border: none;
        border-radius: 10px;
        background-color: $bg-primary;
        box-shadow: 1px 2px 10px #e0e0e0;
        p {
            margin: 0rem 1rem;
            margin-bottom: 0.5rem;
        }
    }
    .restaurant img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    .dad-coeur {
        height: 2rem;
        display: flex;
        justify-content: space-between;
        .child-coeur {
            width: 90%;
            margin: 0 1rem;
            height: 2rem;
            a {
                h3 {
                    margin: 0;
                }
            }
        }
        .toti {
            position: relative;
            height: 2rem;
            z-index: 0;
            width: 10%;
        }
        .heart-3 {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.5rem;
            z-index: 1;
        }
        .tito {
            max-height: 0;
            transition: max-height 0.5s linear;
            overflow: hidden;
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 0;
            .heart-4 {
                color: rgb(192, 85, 192);
                position: relative;
                transform: translateY(-100%);
                transition: transform 0.5s linear;
                font-size: 1.5rem;
            }
        }
        .toti:hover .tito {
            max-height: 1.5rem;
        }
        .toti:hover .heart-4 {
            transform: translateY(0);
        }
    }
}

footer {
    font-size: 0.7rem;
    padding-left: 1rem;
    line-height: 1rem;
    background-color: $footer;
    display: flex;
    flex-direction: column;
    h4 {
        color: $bg-primary;
    }
    .footer-link {
        display: flex;
        i {
            width: 1rem;
            height: 1rem;
            padding-right: 0.2rem;
            color: white;
        }
        a {
            color: $bg-primary;
        }
    }
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        color: black;
        margin-left: 1rem;
    }
    i {
        height: 2rem;
        width: 2rem;
        padding: 2rem 0;
        font-size: 1rem;
    }
    h1 {
        text-align: center;
        width: 100%;
    }
}

.main {
    background-color: #f6f6f6;
    .menu {
        .menu-entete {
            display: flex;
            flex-direction: column;
            position: relative;
            img {
                object-fit: cover;
                width: 100%;
                height: 10rem;
                margin: 0;
            }
            .menu-title-coeur {
                border-top-left-radius: 20px;
                position: absolute;
                top: 6rem;
                width: 100%;
                background-color: #f6f6f6;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                display: flex;
                justify-content: space-between;
                h1 {
                    padding: 0 1rem;
                }
                i {
                    font-size: 1.2rem;
                    height: 3rem;
                    width: 1.2rem;
                    padding: 1rem;
                }
            }
        }
        .div-entrees {
            opacity: 0;
            animation: animMenu 1.5s linear forwards 0s;
        }
        .div-plats {
            opacity: 0;
            animation: animMenu 1.5s linear forwards 1.5s;
        }
        .div-desserts {
            opacity: 0;
            animation: animMenu 1.5s linear forwards 2.5s;
        }
        .titre-underline {
            margin-left: 1rem;
            display: block;
            height: 0rem;
            width: 65px;
            border-top: 4px solid $tertiary;
        }
        .menu-section-titre {
            color: #313131;
            padding: 0 1rem;
            font-size: 1.5rem;
        }
        .div-plat {
            opacity: 0;
            animation: animMenu 2s linear forwards;
            animation-delay: 1s;
        }
        .menu-item {
            background-color: $bg-primary;
            overflow: hidden;
            margin: 5%;
            position: relative;
            width: 90%;
            border: 1px solid $border-color;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            &-content {
                width: 100%;
                transition: width 1s;
                h2 {
                    display: block;
                    padding: 0 1rem;
                    margin: 0;
                }
                .menu-comm-prix-flex {
                    padding: 1rem 1rem;
                    display: flex;
                    justify-content: space-between;
                    p {
                        margin: 0;
                    }
                }
            }
            &-icone {
                overflow: hidden;
                background-color: $tertiary;
                width: 0;
                transition: width 1s;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                i {
                    color: $bg-primary;
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }
            &:hover {
                .menu-item-content {
                    width: calc(100% - 5rem);
                }
                .menu-item-icone {
                    width: 5rem;
                }
            }
        }
    }
}

.presentation-button {
    background: linear-gradient(to bottom right, $secondary, $primary);
    border-radius: 40px;
    margin: 3rem 33%;
    color: white;
    width: 33%;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 0.5rem;
    border: none;
}

.body-menu1 p,
.prix {
    color: rgb(53, 53, 53);
}

.prix-p {
    vertical-align: bottom;
}

@keyframes animMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animRestau {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 1;
        width: 50%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes animLoader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}