body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h4 {
  font-family: "Shrikhand", cursive;
  text-decoration: none;
}

h2, h3, h5, h6 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.header-title {
  font-size: 4rem;
  text-align: center;
}

.header-location {
  background-color: #4b48488c;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.header-location i {
  width: 0.8rem;
  height: 0.8rem;
}
.header-location p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: #4b48488c;
}

.presentation {
  text-align: center;
  background-color: #80808038;
  padding: 1rem 1rem;
}
.presentation h2 {
  margin: 0;
  padding: 1rem;
}
.presentation p {
  padding: 1rem;
  color: #4b48488c;
}
.presentation .presentation-button {
  padding: 0.5rem 0.5rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 1px solid #80808038;
  border-radius: 40px;
  color: #ffffff;
}

.fonctionnement {
  padding: 1rem 0;
  height: 25rem;
}
.fonctionnement .fonctionnement-title {
  margin-left: 1rem;
}
.fonctionnement .fonctionnement-list {
  width: 100%;
  position: absolute;
  counter-reset: comptage;
}
.fonctionnement .fonctionnement-list .list-item {
  width: 90%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  counter-increment: comptage;
  margin: 1rem 0;
  height: 3rem;
  border: 1px solid #80808038;
  border-radius: 10px;
}
.fonctionnement .fonctionnement-list .list-item p i {
  height: 2rem;
  padding: 0 2rem;
  color: #4b48488c;
}
.fonctionnement .fonctionnement-list .list-item::before {
  position: relative;
  top: 50%;
  left: -1%;
  transform: translate(-50%, -50%);
  content: counter(comptage);
  padding: 0.5rem 0.5rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  vertical-align: middle;
  background: #9356DC;
  border-radius: 50%;
  color: white;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 1rem 1rem;
  position: relative;
}
.restaurants .new {
  position: absolute;
  right: 1rem;
  color: #139273;
  background-color: #99e2d0;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: bold;
}
.restaurants .restaurant {
  overflow: hidden;
  margin: 1rem 0;
  border: 1px solid #80808038;
  border-radius: 10px;
}
.restaurants .restaurant img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
}
.restaurants .coeur {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.restaurants .coeur h3, .restaurants .coeur p {
  margin: 0;
}
.restaurants .coeur i {
  color: white;
  border: 1px solid black;
}
.restaurants .coeur i:hover {
  color: red;
}

footer {
  font-size: 0.7rem;
  padding-left: 1rem;
  line-height: 1rem;
  background-color: #252525c4;
  display: flex;
  flex-direction: column;
}
footer h4 {
  color: #ffffff;
}

.footer-link {
  display: flex;
}
.footer-link i {
  width: 1rem;
  height: 1rem;
  padding-right: 0.2rem;
}
.footer-link a {
  color: #ffffff;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu i {
  height: 2rem;
  width: 2rem;
  padding: 2rem 0;
  font-size: 1rem;
}
.header-menu h1 {
  text-align: center;
  width: 100%;
}

.presentation-button {
  padding: 0.5rem 0.5rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 1px solid #80808038;
  border-radius: 40px;
  color: #ffffff;
}

/*# sourceMappingURL=index.css.map */
